.list-item {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  padding: 5px 7px;
  border-radius: 10px;
  gap: 10px;
}
.list-item:hover {
  background-color: rgb(50, 50, 50);
}
.list-item span {
  display: flex;
}
.list-item p {
  flex-grow: 1;
  font-size: 12px;
}
.p-checked {
  text-decoration: line-through;
}