.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin-inline: auto;
  gap: 10px;
  position: relative;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 80px;
}
