.create-button {
  background-color: rgb(18, 94, 18);
  border-radius: 100%;
  border: 0;
  bottom: 20px;
  cursor: pointer;
  font-size: 25px;
  height: 60px;
  position: absolute;
  right: 20px;
  transform: rotate(0deg);
  transition-duration: 0.2s;
  width: 60px;
  z-index: 2;
}
.create-button:hover{
  background-color: rgb(28, 136, 28);
}