.icon-check {
  padding: 5px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  outline: 1px solid gray;
  border-radius: 5px;
}
.icon-delete {
  height: 25px;
  width: 25px;
  border-radius: 7px;
  cursor: pointer;
}
.icon-delete:hover {
  stroke: red;
}