.loading-container {
  display: flex;
  height: 52px;
  margin-bottom: 10px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  animation: fade-in-out 1.5s linear infinite;
}
@keyframes fade-in-out {
  50% {background-color: rgb(207, 207, 207);}
}
