.search {
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  box-shadow: 0 0 5px gray;
}
.search:hover{
  outline: 1px solid rgb(108, 110, 124);
}
.search:focus-visible {
  outline: 1px solid rgb(108, 110, 124);
}