.search {
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  height: 35px;
  padding: 0 15px;
  font-size: 14px;
  background-color: rgb(50, 50, 50);
}
.search:hover{
  outline: 1px solid gainsboro;
}
.search:focus-visible {
  outline: 1px solid gainsboro;
}